*{
   margin: 0;
   padding: 0;
}
.root{
   width: 100vw;
   height: 100vh;
   background-image: url('../images/backgr.svg');
   position: relative;
}
.people{
   position: absolute;
   right: 0;
   bottom: 30%;
}
.people img{
   width: 600px;
}

.material{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 670px;
   height: 300px;
   background-color: rgba(255, 255, 255, 0.4);
   display: flex;
   border-radius: 10px;
   flex-wrap: wrap;
   justify-content: space-between;
}
.material-food{
   display: flex;
}
.food{
   width: 110px;
   height: 110px;
   display: flex;
   flex-direction: column;
   cursor: pointer;
}
.food:hover{
   background-color: goldenrod;
   border-radius: 10px;
}
.food-img{
   min-width: 110px;
   min-height: 110px;
}
.food-price{
   align-self: center;
   color: gold;
}
.material-spice{
   display: flex;
}
.plate{
   position: absolute;
   bottom: 0;
   right: 40%;
   width: 200px;
   height: 200px;
   background-color: rgba(255, 255, 255, 0.4);
   border-radius: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.plate-spice{
   position: absolute;
   top: -100px;
   right: 0px;
   width: 120px;
   height: 120px;
   animation: 1s flavoring forwards;
}
@keyframes flavoring {
   100%{
      transform: rotate(-120deg) translateY(50px);
   }
}
.plate-food{
   width: 99%;
   height: 99%;
   object-fit: cover;
}